# Node.js
node_modules/
dist/
build/

# Python
*.pyc
__pycache__/
.venv/
backend/.venv/

# Environment files
.env
frontend/.env
.env.*

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# IDEs
.vscode/
.idea/

# Others
*.bak
*.tmp
